<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Color</key>
		<string>BF6766</string>
		<key>Sort</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>Color</key>
		<string>A36336</string>
		<key>Sort</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>Color</key>
		<string>876633</string>
		<key>Sort</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>Color</key>
		<string>6C6A2D</string>
		<key>Sort</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>Color</key>
		<string>268785</string>
		<key>Sort</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>Color</key>
		<string>82663A</string>
		<key>Sort</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>Color</key>
		<string>6699A1</string>
		<key>Sort</key>
		<integer>6</integer>
	</dict>
	<dict>
		<key>Color</key>
		<string>2EA9DF</string>
		<key>Sort</key>
		<integer>7</integer>
	</dict>
	<dict>
		<key>Color</key>
		<string>C7802D</string>
		<key>Sort</key>
		<integer>8</integer>
	</dict>
	<dict>
		<key>Color</key>
		<string>A0674B</string>
		<key>Sort</key>
		<integer>9</integer>
	</dict>
	<dict>
		<key>Color</key>
		<string>268785</string>
		<key>Sort</key>
		<integer>10</integer>
	</dict>
	<dict>
		<key>Color</key>
		<string>F7C242</string>
		<key>Sort</key>
		<integer>11</integer>
	</dict>
	<dict>
		<key>Color</key>
		<string>B481BB</string>
		<key>Sort</key>
		<integer>12</integer>
	</dict>
	<dict>
		<key>Color</key>
		<string>F19483</string>
		<key>Sort</key>
		<integer>13</integer>
	</dict>
	<dict>
		<key>Color</key>
		<string>592C63</string>
		<key>Sort</key>
		<integer>14</integer>
	</dict>
	<dict>
		<key>Color</key>
		<string>592C63</string>
		<key>Sort</key>
		<integer>15</integer>
	</dict>
	<dict>
		<key>Color</key>
		<string>373C38</string>
		<key>Sort</key>
		<integer>16</integer>
	</dict>
	<dict>
		<key>Color</key>
		<string>373C38</string>
		<key>Sort</key>
		<integer>17</integer>
	</dict>
	<dict>
		<key>Color</key>
		<string>BA9132</string>
		<key>Sort</key>
		<integer>18</integer>
	</dict>
	<dict>
		<key>Color</key>
		<string>E1A679</string>
		<key>Sort</key>
		<integer>19</integer>
	</dict>
	<dict>
		<key>Color</key>
		<string>2B5F75</string>
		<key>Sort</key>
		<integer>20</integer>
	</dict>
	<dict>
		<key>Color</key>
		<string>877F6C</string>
		<key>Sort</key>
		<integer>21</integer>
	</dict>
	<dict>
		<key>Color</key>
		<string>986DB2</string>
		<key>Sort</key>
		<integer>22</integer>
	</dict>
	<dict>
		<key>Color</key>
		<string>A8497A</string>
		<key>Sort</key>
		<integer>23</integer>
	</dict>
	<dict>
		<key>Color</key>
		<string>7B90D2</string>
		<key>Sort</key>
		<integer>24</integer>
	</dict>
	<dict>
		<key>Color</key>
		<string>E16B8C</string>
		<key>Sort</key>
		<integer>25</integer>
	</dict>
	<dict>
		<key>Color</key>
		<string>00896C</string>
		<key>Sort</key>
		<integer>26</integer>
	</dict>
	<dict>
		<key>Color</key>
		<string>FFFFFB</string>
		<key>Sort</key>
		<integer>27</integer>
	</dict>
	<dict>
		<key>Color</key>
		<string>E9A368</string>
		<key>Sort</key>
		<integer>28</integer>
	</dict>
	<dict>
		<key>Color</key>
		<string>FEDFE1</string>
		<key>Sort</key>
		<integer>29</integer>
	</dict>
</array>
</plist>
